<%- include("partials/header") %>
    <h1>Selamat Datang di website Penjualan Buku</h1>
    <p>Untuk log in klik di <a href="http://localhost:8000/login">sini</a></p>
    <p>Untuk register klik di <a href="http://localhost:8000/register">sini</a></p>
    <p>Untuk menuju shopping cart klik di <a href="http://localhost:8000/shoppingcart">sini</a></p>
    <p>Untuk menuju ke category klik di <a href="http://localhost:8000/category">sini</a></p>
    <p>Untuk menuju detail book klik di <a href="http://localhost:8000/detailBook">sini</a></p>
<%- include("partials/footer") %>